<div>
    <h1><a href="#">Leaks</a></h1>
    <div class="grid_12">
        <a href="/" class="nav_logo"><img src="/images/legend-logo.png?1291715905" alt="Legend-logo"></a>

        <div class="top_nav">
            <a class="nav_link" href="/home">Home</a>
            <a class="nav_link" href="/people">Œ“∞À</a>
            <a class="nav_link" href="/projects">All</a>
        </div>
    </div>
</div>